* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../imagens/wallpaper/wallpaper.jpg');
	background-size: cover;
}

header {
	display: flex;
	justify-content: center;
	animation: mudaImagens 15s linear 3s infinite alternate;
	background-size: cover;
	background-image: url('../imagens/wallpaper/gengar.jpg');
	background-position: 50% 40%;
	height: 400px;
}

p {
	text-align: center;
}

#img-todos-pokemon {
	margin-left: 20px;
}

@keyframes mudaImagens {
	0% {
		background-image: url('../imagens/wallpaper/gengar.jpg');
		background-position: 50% 38%;
	}

	10% {
		background-image: url('../imagens/wallpaper/umbreon.jpg');
		background-position: 50% 40%;
	}

	20% {
		background-image: url('../imagens/wallpaper/tyranitar.jpg');
		background-position: 50% 38%;
	}

	30% {
		background-image: url('../imagens/wallpaper/Sirfetch’d.jpg');
		background-position: 50% 40%;
	}

	40% {
		background-image: url('../imagens/wallpaper/Centiskorch.jpg');
		background-position: 50% 45%;
	}

	50% {
		background-image: url('../imagens/wallpaper/Charizard.jpg');
		background-position: 50% 40%;
	}

	60% {
		background-image: url('../imagens/wallpaper/moltres.jpg');
		background-position: 50% 40%;
	}

	80% {
		background-image: url('../imagens/wallpaper/rayquaza.jpg');
		background-position: 50% 45%;
	}

	90% {
		background-image: url('../imagens/wallpaper/sylveon.jpg');
		background-position: 50% 42%;
	}

	98% {
		background-image: url('../imagens/wallpaper/gengar.jpg');
		background-position: 50% 38%;
	}
}

#img-title {
	margin-top: 150px;
	width: 500px;
	height: 300px;
}

nav {
	display: flex;
	flex-direction: row;
}

#teste {
	display: flex;
	flex-direction: row-reverse;
	align-items: baseline;
	justify-content: space-evenly;
	width: 100%;
}

#label-todos-pokemon {
	padding-left: 15px;
	color: white;
	text-shadow: black 0.1em 0.1em;
	font-size: 18px;
}

.btn {
	margin-left: 2px;
	background-color: #363775;
	color: white;
}

.btn:hover {
	background-color: #1f2046;
	color: white;
}

#menu {
	display: flex;
	align-items: baseline;
}

#carregando {
	display: none;
	margin-left: 30px;
	margin-bottom: 30px;
	min-width: 40px;
	margin-top: 0px;
}

.loading {
	background-color: white;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	box-shadow: 0 0 1em rgb(193, 2, 252);
	animation: rotation 0.9s linear infinite;
	position: absolute;
	transform: translate(0px, -30px);
}

.loading:nth-child(1) {
	animation-delay: 0s;
}

#btn-more-20-Pokemon {
	display: flex;
	justify-content: center;
}

.loading:nth-child(2) {
	animation-delay: 0.30s;
}

.loading:nth-child(3) {
	animation-delay: 0.60s;
}

@keyframes rotation {
	0% {
		transform: translate(0px, -30px);
	}

	33% {
		transform: translate(30px, -30px);
	}

	66% {
		transform: translate(15px, 0px);
	}
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#principal {
	display: flex;
	justify-content: space-between;
}

#teste2 {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

#divPokemonEscolhido {
	width: 70%;
}

#primeiraSecao {
	display: flex;
	margin-left: 25px;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 8px;
	background-image: url('../imagens/wallpaper/wallpaper.jpg');
	padding: 20px;
	line-height: 1.8;
	width: 45%;
	border: 2px solid rgb(116, 112, 112);
}

#divStats {
	width: 49%;
	border-radius: 8px;
	background-image: url('../imagens/wallpaper/wallpaper.jpg');
	padding: 20px 30px;
	margin: 0px 0px 0px 10px;
	display: flex;
	justify-content: center;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	border: 2px solid rgb(116, 112, 112);
}

#divCadaStatAgrupado {
	display: flex;
	font-weight: bolder;
}

#divInfoValor {
	color: white;
	padding-left: 10px;
}

#divDadosIniciais {
	display: flex;
	color: white;
	text-shadow: black 0.1em 0.1em;
	font-size: 18px;
	font-weight: bolder;
	flex-direction: column;
	justify-content: left;
	padding-left: 10px;
	line-height: 2.3;
	width: 40%;
}


.divtabela {
	height: 30px;
	background-color: white;
	margin: 0px 0px 14px 0px;
	display: flex;
	color: black;
	font-weight: bolder;
	padding-left: 10px;
	padding-right: 10px;
}

#info-pokemon-escolhido {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#divDuasDivs {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	justify-content: none;
	align-items: none;
}

#divParaDivTipos {
	display: flex;
	flex-direction: column;
	align-items: left;
}

#divDadosIniciais p {
	text-align: left;
	margin-bottom: 0px;
	padding-right: 25px;
}

#divMoves {
	padding: 20px;
	color: white;
	text-shadow: black 0.1em 0.1em;
	background-image: url('../imagens/wallpaper/wallpaper.jpg');
	background-size: cover;
	width: 95%;
	margin-left: 25px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	border: 2px solid rgb(116, 112, 112);
}



#divMoves li {
	list-style-type: circle;
	padding: 7px;
	text-align: left;
	line-height: 1;
	font-size: 1.3em;
}

#movesUl {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#divUl {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#titleMoves {
	text-align: left;
	font-weight: bolder;
	font-size: 1.8em;
	padding-bottom: 20px;
}

.pokemon-image-type-mostra {
	padding: 6px 6px 0px 0px;
}


#divImg {
	display: flex;
	justify-content: center;
	align-items: center;

}

.divTipos {
	display: flex;
	align-items: center;
}

.btn-more-20-Pokémon {
	display: none;
}

#info-cada-Pokemon {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#title-section {
	margin: 30px 0px 30px 25px;
	color: white;
	text-shadow: 0.1em 0.1em black;
	font-weight: bolder;
	width: 90%;
}

#info-Pokemon {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-left: 0rem;
}

.li-pokemon {
	color: white;
	text-shadow: 0.1em 0.1em black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	font-weight: bolder;
	margin: 10px;
	width: 200px;
	height: 300px;
	border-radius: 7px;
	border: 1px solid rgb(116, 112, 112);
	background-image: url('../imagens/wallpaper/wallpaper.jpg');
	background-position: 5% 5%;
}

aside {
	padding: 0px 0px 0px 0px;
	margin: 0px 20px 30px 0px;
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#info {
	width: 100%;
}

#titulo-rolagem {
	padding: 10px 0px 0px 0px;
	color: white;
	text-shadow: 0.1em 0.1em black;
	font-weight: bolder;
	font-size: 1.3em;
	text-align: center;
}

.form-check {
	display: flex;
	align-items: center;
}

#btn-search-by-Type {
	margin: 10px 0px 00px 0px;
}

#search-By-Name,
#search-By-Generation,
#search-By-Name-selected {
	display: flex;
	flex-direction: row;
	padding: 2px 10px 2px 10px;
}

.selected {
	background-color: #363775 !important;
}

.pokemon-image-type {
	padding: 5px;
}

.divLateral {
	padding: 20px;
}

.imgLateral {
	width: 100%;
}

footer {
	padding: 30px;
	background-color: #1f2046;
	color: white;
}

#img-footer {
	width: 7em;
}

li a {
	text-decoration: none;
}

ul li a {
	color: white;
}

hr {
	margin-bottom: 25px;
}

.footer-copyright {
	text-align: center;
}

#barra-de-rolagem {
	display: block;
	width: 100%;
	height: 250px;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

@media (max-width: 800px) {
	header {
		display: flex;
		justify-content: center;
		animation: mudaImagens 200s linear infinite alternate;
		background-size: 800px 400px;
		background-image: url('../imagens/wallpaper/gengar.jpg');
		background-position: 50% 40%;
		height: 180px;
	}

	#img-title {
		margin-top: 90px;
		width: 200px;
		height: 100px;
	}

	#teste {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		justify-content: center;
		width: 100%;
	}

	.divLateral {
		display: none;
	}

	.type-pokemon-image {
		margin-right: 40px;
	}

	#info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		width: 100%;
	}

	#info-Pokemon {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding-left: 0rem;
	}

	#divDuasDivs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
		width: 100%;
	}

	#divMoves ul {
		padding-left: 0;
	}

	#divMoves li {
		list-style-type: none;
		text-align: center;
		padding: 7px;
		line-height: 1;
		font-size: 1.8em;
	}

	#info-pokemon-escolhido {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#divDadosIniciais {
		display: flex;
		color: white;
		text-shadow: black 0.1em 0.1em;
		font-size: 18px;
		font-weight: bolder;
		flex-direction: column;
		justify-content: left;
		padding-left: 0px;
		line-height: 2.3;
		width: 45%;
	}

	#divImg {
		width: 50%;
	}

	#primeiraSecao {
		display: flex;
		margin-left: 0px;
		justify-content: space-evenly;
		align-items: center;
		border-radius: 8px;
		background-image: url('../imagens/wallpaper/wallpaper.jpg');
		padding: 20px;
		line-height: 1.8;
		width: 90%;
		border: 2px solid rgb(116, 112, 112);
	}

	

	#divStats {
		width: 90%;
		border-radius: 8px;
		background-image: url('../imagens/wallpaper/wallpaper.jpg');
		padding: 20px 15px;
		margin: 10px 0px 0px 0px;
		display: flex;
		justify-content: center;
		font-size: 18px;
		display: flex;
		flex-direction: column;
		border: 2px solid rgb(116, 112, 112);
	}

	#teste2 {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
	}

	#menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#carregando {
		display: none;
		margin-left: 0px;
		margin-bottom: 0px;
		min-width: 40px;
		margin-top: 80px;
	}

	nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	aside {
		width: 70%;
		margin: auto;
	}

	#divMoves {
		padding: 20px;
		color: white;
		text-shadow: black 0.1em 0.1em;
		background-image: url('../imagens/wallpaper/wallpaper.jpg');
		background-size: cover;
		width: 90%;
		margin-left: 0px;
		border-radius: 8px;
		text-align: left;
		display: flex;
		flex-direction: column;
		border: 2px solid rgb(116, 112, 112);
	}

	#divUl {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	#titleMoves {
		text-align: center;
		font-weight: bolder;
		font-size: 1.8em;
		padding-bottom: 20px;
	}

	#barra-de-rolagem {
		height: 170px;
		width: 100%;
	}

	#search-By-Name,
	#search-By-Generation,
	#search-By-Name-selected {
		display: flex;
		flex-direction: row;
		padding: 5px 10px 5px 10px;
		margin: 10px 20px 10px 20px;
	}

	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}


	#title-section {
		margin: 30px 0px 30px 0px;
		width: 90%;
		margin-top: 30px auto;
		padding-top: 0px;
		text-align: center;
	}

	.li-pokemon {
		color: white;
		text-shadow: 0.1em 0.1em black;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		list-style-type: none;
		font-weight: bolder;
		margin: 10px;
		width: 170px;
		height: 300px;
		border-radius: 7px;
		border: 1px solid rgb(116, 112, 112);
		background-image: url('../imagens/wallpaper/wallpaper.jpg');
		background-position: 5% 5%;
	}

	footer {
		padding: 30px;
		background-color: #1f2046;
		color: white;
		display: flex;
		flex-direction: column;
	}

	.col-sm-3,
	.row,
	.col-sm-2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1.1em;
	}

	.ul-footer {
		text-align: center;
		padding: 3px 0px 3px 0px;
	}

	.h5-footer {
		text-align: center;
		margin: 10px 0px 10px 0px;
		font-size: 1.4em;
	}

	.ul-footer li {
		list-style-type: none;
		padding: 3px 0px 3px 0px;
	}

	#copyright {
		text-align: center;
	}

	.footer-copyright {
		font-size: 1.3em;
	}

	#hr {
		margin: 20px;
	}
}