* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../imagens/wallpaper/wallpaper.jpg');
	background-size: cover;
}

header {
	display: flex;
	justify-content: center;
	animation: mudaImagens 200s linear infinite alternate;
	background-size: cover;
	background-image: url('../imagens/wallpaper/gengar.jpg');
	background-position: 50% 40%;
	height: 400px;
}

@keyframes mudaImagens {
	0% {
		background-image: url('../imagens/wallpaper/gengar.jpg');
		background-position: 50% 38%;
	}

	10% {
		background-image: url('../imagens/wallpaper/umbreon.jpg');
		background-position: 50% 40%;
	}

	20% {
		background-image: url('../imagens/wallpaper/tyranitar.jpg');
		background-position: 50% 38%;
	}

	30% {
		background-image: url('../imagens/wallpaper/Sirfetch’d.jpg');
		background-position: 50% 40%;
	}

	40% {
		background-image: url('../imagens/wallpaper/Centiskorch.jpg');
		background-position: 50% 45%;
	}

	50% {
		background-image: url('../imagens/wallpaper/Charizard.jpg');
		background-position: 50% 40%;
	}

	60% {
		background-image: url('../imagens/wallpaper/moltres.jpg');
		background-position: 50% 40%;
	}

	80% {
		background-image: url('../imagens/wallpaper/rayquaza.jpg');
		background-position: 50% 45%;
	}

	90% {
		background-image: url('../imagens/wallpaper/sylveon.jpg');
		background-position: 50% 42%;
	}

	98% {
		background-image: url('../imagens/wallpaper/gengar.jpg');
		background-position: 50% 38%;
	}
}

#img-title {
	margin-top: 150px;
	width: 500px;
	height: 300px;
}

main {
	display: flex;
}

nav {
	display: flex;
	flex-direction: row;
}

.btn {
	margin-left: 2px;
	background-color: #363775;
	color: white;
}

.btn:hover {
	background-color: #1f2046;
	color: white;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#principal {
	display: flex;
	justify-content: space-between;
}

#title-section {
	margin: 30px 0px 30px 0px;
	color: white;
	text-shadow: 0.1em 0.1em black;
	font-weight: bolder;
	width: 80%;
	text-align: center;
}

#info-Pokemon {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0rem;
}

.li-pokemon {
	color: white;
	text-shadow: 0.1em 0.1em black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	font-weight: bolder;
	margin: 10px;
	width: 200px;
	height: 300px;
	border-radius: 7px;
	border: 1px solid rgb(116, 112, 112);
	background-image: url('../imagens/wallpaper/wallpaper.jpg');
	background-position: 5% 5%;
}

aside {
	padding: 0px 0px 0px 0px;
	margin: 0px 20px 30px 0px;
	width: 30%;
}

#div-lateral {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#titulo-rolagem {
	padding: 10px 0px 0px 0px;
	color: white;
	text-shadow: 0.1em 0.1em black;
	font-weight: bolder;
	font-size: 1.3em;
	text-align: center;
}

.form-check {
	display: flex;
	align-items: center;
}

#btn-search-by-Type {
	margin: 10px 0px 00px 0px;
}

#search-By-Name,
#search-By-Generation,
#search-By-Name-selected {
	display: flex;
	flex-direction: row;
	padding: 2px 10px 2px 10px;
}

.selected {
	background-color: #363775 !important;
}

.pokemon-image-type {
	width: 55px;
	padding: 5px;
}

.divLateral {
	padding: 20px;
}

.imgLateral {
	width: 100%;
}

footer {
	padding: 30px;
	background-color: #1f2046;
	color: white;
}

#img-footer {
	width: 7em;
}

li a {
	text-decoration: none;
}

ul li a {
	color: white;
}

hr {
	margin-bottom: 25px;
}

.footer-copyright {
	text-align: center;
}

#barra-de-rolagem {
	display: block;
	width: 350px;
	height: 250px;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

@media (max-width: 600px) {
	body {
		background-color: red;
	}

	.divLateral {
		display: none;
	}

	nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#search-By-Name,
	#search-By-Generation,
	#search-By-Name-selected {
		display: flex;
		flex-direction: row;
		padding: 2px 10px 2px 10px;
		margin: 10px 20px 10px 20px;
	}

	main {
		display: flex;
		flex-direction: column;
	}

	#search-By-Type {
		position: fixed;
	}
}